h1 {
    color: lightsalmon;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("Heading1.jpg");
    background-color: white;
    background-blend-mode: multiply;
    padding-bottom: 10px;
    padding-top: 10px;
    background-size: cover;

    
}
body {
    background-image: radial-gradient(circle , lightblue, white);
}

div {padding: 10px}
img {
    
    height: 500px;
    width: 700px;
    object-fit: contain;
    object-position: center;
}

footer {
    padding-top: 500px;
    padding-bottom: 50px;
}
    {
    color:black;
    text-align: right;
   }
a {
    color: lightsalmon;
    font-weight: bolder;
}   
button {
    background-color: lightblue;
    color: lightsalmon ;
    font-weight: bolder;
}
